<!DOCTYPE html>
<html>
<head>
    <title>Alunos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Cadastro de Alunos</h1>

    <form action="/cadastrar_aluno" method="POST">
        <input type="text" name="nome" placeholder="Nome do aluno" required>
        <input type="number" name="idade" placeholder="Idade" required>
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit">Cadastrar</button>
    </form>

    <h2>Lista de Alunos</h2>

    <ul>
        {% for aluno in alunos %}// O aluno é uma tupla (id, nome, idade, email)
            <li>
                <strong>{{ aluno[1] }}</strong> - {{ aluno[2] }} anos - {{ aluno[3] }}
            </li>
        {% endfor %}
    </ul>

    <div>
        <a href="/cursos">Ir para Cursos</a><br>
        <a href="/matricular">Ir para Matrícula</a>
    </div>

</div>

</body>
</html>